In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Assuming you have a DataFrame named 'df' with an 'Employment' column
df = pd.DataFrame({'Employment': ['Employed', 'Unemployed', 'Employed', 'Employed', 'Unemployed']})

# Find the most frequent category
most_frequent_category = df['Employment'].mode()[0]

print("The majority category under the column 'Employment' is:", most_frequent_category)

The majority category under the column 'Employment' is: Employed

In [3]:
df

   Employment
0    Employed
1  Unemployed
2    Employed
3    Employed
4  Unemployed

In [4]:
df.duplicated().sum()

3

In [5]:
print('There are', df.duplicated().sum(), 'duplicate rows.')
print('There are', df.duplicated('Employment').sum(), 'duplicate Respondants.')

There are 3 duplicate rows.
There are 3 duplicate Respondants.

In [6]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with an 'Employment' column
df = pd.DataFrame({'Employment': ['Employed', 'Unemployed', 'Employed', 'Self-Employed', 'Student']})

# Get all unique categories in the 'Employment' column
unique_categories = df['Employment'].unique()

print("Unique categories in the 'Employment' column:")
for category in unique_categories:
    print(category)

Unique categories in the 'Employment' column:
Employed
Unemployed
Self-Employed
Student

In [7]:
# 2024-11-11 
# start here 
# 
# Import pandas module.
import pandas as pd

In [8]:
# Load the dataset into a dataframe.
# df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

In [9]:
df = pd.read_csv(file_name)

In [10]:
#
# Find out how many rows are missing in the column 'WorkLoc'
#

df['WorkLoc'].isna().sum()

32

In [11]:
# 2024-11-11
# Imputing missing values
# Find the value counts for the column WorkLoc.
#
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

In [12]:
df['Employment'].value_counts()

Employment
Employed full-time    11113
Employed part-time      439
Name: count, dtype: int64

In [13]:
df['UndergradMajor'].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

In [14]:
print('\n\nThere are', df['UndergradMajor'].nunique(), 'unique UndergradMajor values in the survey:')

print('\nUndergradMajor        value count')      
print('---------------        -----------')
print(df['UndergradMajor'].value_counts())

There are 12 unique UndergradMajor values in the survey:

UndergradMajor        value count
---------------        -----------
UndergradMajor
Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

In [15]:
# 
# Identify the value that is most frequent (majority) in the WorkLoc column.
#

# Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.
#
df['WorkLoc'].fillna('Office', inplace=True)

<ipython-input-15-ab448a587cdf>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].fillna('Office', inplace=True)

In [16]:
# After imputation there should ideally not be any empty rows in the WorkLoc column.
#
# Verify if imputing was successful.
#
df['WorkLoc'].isna().sum()

0

In [17]:
#
# The column ‘ConvertedComp’ contains the annual compensation of the survey respondents. 
# What is the best approach to impute the missing values in this column? 
#
df['ConvertedComp'].value_counts()

ConvertedComp
2000000.0    140
100000.0     105
1000000.0    105
150000.0      94
120000.0      87
            ...
12612.0        1
95179.0        1
114168.0       1
40100.0        1
19880.0        1
Name: count, Length: 3515, dtype: int64

In [18]:
import statistics

# •	Mean Imputation: Replaces missing values with the mean of the column.
# 平均值插補：以列的平均值取代缺失值。
median = statistics.median(df['ConvertedComp'])
print( median )

#  • Median Imputation: Replaces missing values with the median of the column.
# 中位數插補：用列的中位數取代缺失值。
mean = statistics.mean(df['ConvertedComp'])
print ( mean )

# 何時使用：當資料呈常態分佈或不存在顯著異常值時。

nan
nan

In [19]:
# Assuming df is your DataFrame
df['ConvertedComp'].fillna(df['ConvertedComp'].mean(), inplace=True)  # Mean imputation
# or
df['ConvertedComp'].fillna(df['ConvertedComp'].median(), inplace=True)  # Median imputation

<ipython-input-19-602d7df5151a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedComp'].fillna(df['ConvertedComp'].mean(), inplace=True)  # Mean imputation
<ipython-input-19-602d7df5151a>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedComp'].fillna(df['ConvertedComp'].median(), inplace=True)  # Median imputation

In [20]:
import statistics

data = [1, 2, 3, 4, 5]
median = statistics.median(data)
print(median)  # Output: 3

3

In [21]:
# 數據標準化
# 資料集中有兩列討論補償。
# 
# 一是「CompFreq」。此欄位顯示向開發人員付款的頻率（每年、每月、每週）。
#
# 另一個是“CompTotal”。本專欄討論開發人員每年、每月或每週獲得的報酬，具體取決於他/她的「CompFreq」。
#
# 這使得開發商的總報酬難以比較。
#
# 在本部分中，您將建立一個名為“NormalizedAnnualCompensation”的新欄位，其中包含“年度薪酬”，與“CompFreq”無關。
#
# 一旦此欄準備好，就可以輕鬆比較工資。

In [22]:
# List out the various categories in the column 'CompFreq'
#

# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [23]:

# your code goes here
print(df['CompFreq'].value_counts())

CompFreq
Yearly     6163
Monthly    4846
Weekly      337
Name: count, dtype: int64

In [24]:
# Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.
#
# Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.
#
# If the CompFreq is Yearly then use the exising value in CompTotal
# If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
# If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)
#

In [25]:
df['CompFreq'].value_counts()

CompFreq
Yearly     6163
Monthly    4846
Weekly      337
Name: count, dtype: int64

In [26]:
def conditions(s):
  if (s['CompFreq'] == 'Yearly'):
    return s['CompTotal']
  elif (s['CompFreq'] == 'Monthly'):
    return (s['CompTotal'] * 12)  
  else:
    return (s['CompTotal'] * 52)

df['NormalizedAnnualCompensation'] = df.apply(conditions, axis=1)
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0

In [27]:
df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head()

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

In [28]:
df['NormalizedAnnualCompensation'].describe()

count    1.073700e+04
mean     6.110782e+06
std      9.776123e+07
min      0.000000e+00
25%      5.200000e+04
50%      1.000000e+05
75%      3.600000e+05
max      8.400000e+09
Name: NormalizedAnnualCompensation, dtype: float64